// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar .nav-link  {
  color: #000 !important;
  font-size: 17px;
  font-weight: 800px;
}

.nav-item {
  padding: 3px;
}

.nav__btn {
  text-decoration: none;
  color: #000;
}

.user-nickname {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.cp_cssslider {
	width: 100%;
	height: 250px;
  overflow: hidden;
	margin: 2em auto;
	border: 10px solid #ffffff;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}
.cp_slide_item {
	width: 350px;
	height: 250px;
	float: left;
	position: relative;
}
.cp_slidewrapper {
	width: 500%;/* slideの枚数×100% */
	position: relative;
	left: 0;
	animation: slider 20s infinite ease;/* スピード */
}
@-webkit-keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
@keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}

.picture {
  background-image: image-url('hoshino.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-blend-mode: lighten;
  background-color: rgba(255,255,255,0.5);
}

.sub-main-title {
  font-size: 60px;
  font-weight: 800px;
  text-align: center;
}

.col {
  display: flex;
  justify-content: space-around;
}

.photo-img {
  width: 100vh;
  height: 400px;
}

.photo-title {
  font-size: 20px;
  font-weight: 500;
}

.photo-description {
  font-size: 18px;
}

.photo-user-nickname {
  font-size: 20px;
  font-weight: 800;
  text-align: end;
  padding-right: 35px;
  padding-bottom: 20px;
}

.child-center {
display: flex;
justify-content: center;
}


